*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 
header{
    font-weight: 700;
    display: inline;
    color: white;
    padding-right: 150px;
}
ul{
    
    display: inline;
    list-style-type: none;
    background-color: black;
    padding: 20px;
    margin-left: 10px;
    margin-right: 20px;
}
li{
    display: inline;
    color: white;
}
img{
    float: right;
}
button{
    background-color: rgb(255, 94, 0);
    border-color: rgb(255, 94, 0);
    padding: 10px;
    margin-left: 50px;
}
h2{
    font-size: small;
    border-bottom-right-radius: 6px solid orange;
}
#div1{
    background-image: url("./Image/image\ 1.png");
    background-position: 100%;
    background-size: contain;
  }
#explore{
    padding: 20px;
}
#div2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 10px lightgrey;
}
#text{
    text-align: center;
}
 
#rec{
    display: flex;
    justify-content: space-between;
    font-size:xx-small ;
}

h5{
    float: right;
}
.feedback{
    display: flex;
    justify-content: space-around;
}#one{
    box-shadow: 5px 5px rgb(228, 225, 225);
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}
#two{
    color: white;
    background-color: black;
  
}
#info{
    color: white;
    background-color: black;
    text-align: center;
}
em{
    color: black;
    background-color: white;
    padding: 10px;
    padding-right: 0px;
}
table,
th,
td{
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 50px;
    text-align: left;
}

